{% extends 'layout.html' %}

{% block body%}
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5">"Welcome to Stock Predictor!"</h1><br>
      <h4>We at Stockpredictor.com provides the best output based on machine learning , and deep learning.
      Our anayltics is based purely on machine learning and is fully capable with AI , and data science integration.<br>
          <br>
      Our analtytics algorith is highly accurate and is trusted by millions worldwide , for us Success is not 
      Creating money , Its about Helping People</h4>
      <br>
      <h4>Join our anayltics team , and use pur website with all the integration you want. We at Stockpredictor.com is always on your need.
      Trust us , your Trust Is Our Legacy.</h4>
  </div>
</div>

{% endblock %}