{% extends 'layout.html' %}

{% block body%}
  
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Simple Line Chart"
	},
	axisY:{
		includeZero: false
	},
	data: [{        
		type: "line",       
		dataPoints: [
			{ y: 50  },
			{ y: 50  },
			{ y: 50 },
			{ y: 50 },
			{ y: 50 },
			{ y: 50  },
			{ y: 50 },
            { y: 50 },
            { y: 50 },
            { y: 50 },
            { y: 50 },
            { y: 200 },
			  

		]
	}]
});
chart.render();

}
</script>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div class="container" style="margin-top:2% ">
    <div class="row">
        
    <div class="col">
   
    </div>

    <div class="col">     
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" onclick='window.location="/articlesb"'>
  Predict Next Day's Value
</button>



    </div>
    <div class="col">
      
    </div>
 
</div>
</div>

{% endblock %}