{% extends 'layout.html' %}

{% block body%}
 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-5">"!READ CAREFULLY!"</h1><br><br>
      <h4>This page provides the terms and conditions for use of the MoneyWorks4me.com website and pages accessible there from, hereinafter referred to as the “Site” and the services contained within. By using the Site or downloading information from the Site, the user (You) agree to the terms and conditions listed here. This Agreement applies to users(s) if users(s) are visitors, registered- free or paid user(s) who access the website for any purpose. It also applies to any legal entity which may be represented by you.<br>
          <br>
      There is no refund , or there is no claim of any refund , in case of wrong prediction</h4>
      <br>
      <h4>All the predictions are done by machines and are subject to market to risk.</h4>
  </div>
</div>

{% endblock %}